body{
	font-family: Tahoma;
	font-size: 13px;
	width: 1000px;
	margin: 0px auto;
}
#banner{
	background:black;
	height: auto;
	width: 200px;
	height: 50px;
	text-align: right;
}
#i{ 
	padding: 1px;
    margin: 1px ;
	float: right;
    text-align: center;
}
h1{
	text-align: left;
}
#banner button{
	width: 10%;
	height:10%;
	float: right;
	
}
#menu h4{
	float: left;
}
#menu{
	background: white;
	height: 40px;
}
#menu ul{
	margin: 0px;
padding: 0px;}
#menu ul li{
	list-style: none;
	float: right;
}
#menu ul li a{
	text-decoration: none;
	display: block;
	height: 40px;
	line-height: 40px;
	color: #000000;
	padding: 0px 20px 0px 20px;
	border-right: 1px solidrgb(32, 189, 168);
	text-align: right;
}
#menu1{
	background: rgb(67, 161, 216);
	min-height: 40px;
	min-width: 20% ;
}
#menu1 ul{
	margin: 0px;
	padding: 0px;}
#menu1 ul li{
	list-style: none;
	float: left;
	font-weight: bold;
}
#menu1 ul li a{
	text-decoration: none;
	display: block;
	height: 40px;
	line-height: 50px;
	color: black;
	padding: 0px 22px 0px 30px;
	border-right: 2px solid#C0C0C0;
	text-align: center;
}
#main #left{
	float: left;
	width: 690px;
	background: white;
	height: 1000px;
	
    min-height: auto;
    overflow-x: auto;
}
#main #left #hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
#main #left #img{
	float: left;
	border: 1px solid;
}
#main #left #img p.clear{
	clear: left;
}
#main #right{
	width: 310px;
	background: white;
	float: right;
	height: 1000px;
}
button{
	width: 90%;
	height:10%;  
	margin: 0.5rem;
}
#footer{
	background: rgb(169, 195, 228);
	width: 1000px;
	text-align: center;
	height: 500px;
	color: #FFF;
	clear: left;
	line-height: 80px;
}
#footer p{
	float: left;
}
 #menu2 ul{
	margin: 0px;
    padding: 0px;}
   
 #menu2 ul li{
	list-style: none;
	float: right;
}
 #menu2 ul li a{
	text-decoration: none;
	display: block;
	height: 40px;
	line-height: 40px;
	color: black;
	padding: 0px 20px 0px 20px;
	border-right: 1px solid#C0C0C0;
	text-align: left;
	float: right;
}
